<header>
        <nav class="navbar navbar-expand-lg navbar-light nav-bg pt-4 ">

            <div class="collapse navbar-collapse mb-1" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto text-color">
                    <li class="nav-item active">
                        <a class="navbar-brand text-color-white" href="#">Admin Panel</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-color-white" href="/admin">All Locations</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-color-white" href="#">All Users</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-color-white" href="#">Feedbacks</a>
                    </li>
                </ul>
                {{!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> --}}
                <button class="btn btn white mr-5"><a href="/admin/add-location" class="login-btn">Add Location</a></button>
            </div>
        </nav>
    </header>