<section class="pt-5">
    <div class="container mt-5">
        <form action="/suggestion" method="POST">
            <div class="form-group">
                <h2><b>Discover Uncharted Spots</b></h2><br><br><br>
                <big> Contribute to the magic of discovery! Suggest your favorite hidden spots, from &nbsp;&nbsp;
                    charming&nbsp; cafes <br> to
                    scenic vistas, and be a part of creating a unique map of uncharted wonders. Your suggestions <br>
                    depth to our shared adventure, inspiring others to explore the extraordinary.</big><br><br>
            </div>
            <div class="form-group">

                    <h5>Share your suggestion</h5><br>
                    <input type="text" name="location" id="" class="form-control form-group col-7" placeholder="Place">
                <textarea class="form-control feedback col-7" id="exampleTextarea" name="suggestion" rows="5" placeholder="Your opinion about the place..."></textarea>
            </div>
            <button type="submit" onclick="submitSuggestion()" class="mb-5 btn btn-primary">Submit</button>
        </form>
    </div>
</section>


